/.vscode
/.vs

/CSD-UpgradeTestTool.Api/bin
/CSD-UpgradeTestTool.Api/logs
/CSD-UpgradeTestTool.Api/obj

/CSD-UpgradeTestTool.Console/bin
/CSD-UpgradeTestTool.Console/logs
/CSD-UpgradeTestTool.Console/obj

/CSD-UpgradeTestTool.Core/bin
/CSD-UpgradeTestTool.Core/logs
/CSD-UpgradeTestTool.Core/obj

/CSD-UpgradeTestTool.Infrastructure/bin
/CSD-UpgradeTestTool.Infrastructure/logs
/CSD-UpgradeTestTool.Infrastructure/obj